h1 {
  font-size: 50pt;
}

label {
  font-size: 30pt;
}

label.btn.btn-primary.toggle-on {
  width: 50px;
  height: 50px;
}

span.bth-handle.btn.btn-default {
  width: 50px;
  height: 50px;
}

label.ui-button {
  vertical-align: middle;
}
